<template class="flex">
    <nav class="w-96 min-h-screen flex flex-col justify-between border-r border-gray-200 bg-gray-50">
        <div>
            <div class="flex items-center gap-2 px-4 py-4 border-b border-gray-200">
                <owl-logo class="w-8 h-fit"></owl-logo>
                <p class="font-semibold text-lg">Owl around</p>
            </div>

            <div class="flex-1 overflow-auto pt-2">
                <div class="px-3 py-4">
                    <ul class="space-y-0.5">
                        <template x-for="item in mainItems">
                            <li>
                                <a x-format :href="item.path"
                                    class="flex items-center gap-3 rounded-lg px-3 py-1 text-md font-medium hover:bg-gray-100"
                                    :class="window.location.pathname === item.path ? 'bg-gray-100' : ''">
                                    {{ item.name }}
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
        <ui-user-info #user="$props.user" class="border-t border-gray-200"></ui-user-info>
    </nav>
    <div class="w-full relative">
        <slot></slot>
    </div>
</template>

<script setup>
    
    return {
        evalBlur(e, callback) {
            if (!this.$refs.menuBar.contains(e.relatedTarget)) {
                callback();
            }
        },
        mainItems: [
            {
                name: "Dashboard",
                path: "/projets",
            },
        ],
        secondaryItems: [
            {
                name: "Utilisateur",
                path: "/users",
            },
            {
                name: "Entreprise",
                path: "/entreprises",
            },
            {
                name: "Type de communication",
                path: "/types",
            },
            {
                name: "Modèle de question",
                path: "/modeles",
            },
        ],
    }
</script>