<template x-component.unwrap="button" variant="primary">
    <button class="w-fit flex! items-center justify-center
    rounded-btn px-btn-x py-btn-y text-xl font-wbtn font-btn
    gap-x-(--btn-gap) shadow-btn hover:shadow-btn-hover"
    :class="{
        'text-primary-text bg-gradiant-primary border-thin border-primary-start hover:bg-': $prop('variant') == 'primary',
        'text-secondary-text bg-gradiant-secondary': $prop('variant') == 'secondary',
    }"
    >
        <slot></slot>
    </button>
    <script>
        return $vui.Component({
            onMounted() {
                console.log("button init");
            }
        }, $el);
    </script>
</template>