<template x-component.unwrap="button" variant="primary">
    <button class="w-fit flex! items-center justify-center
    rounded-button px-btn-x py-btn-y font-medium text-xl
    gap-x-(--btn-gap) border-glow-primary"
    :class="{
        'text-primary-text bg-gradiant-primary border-thin border-primary-start shadow-lg': $prop('variant') == 'primary',
        'text-secondary-text bg-gradiant-secondary shadow-md': $prop('variant') == 'secondary',
    }"
    >
        <slot></slot>
    </button>
    <script>
        return $vui.Component({
            onMounted() {
                console.log("button init");
            }
        }, $el);
    </script>
</template>