<template x-data x-component.unwrap="link" variant="classic">
    <a 
    class="h-fit w-fit flex! items-center justify-center"
    :class="{
        'border-b border-blue-700 text-blue-700 text-2xl': $prop('variant') == 'classic',
        'bg-black text-white px-sm py-xs rounded-lg shadow-sm': $prop('variant') == 'sober',
    }"
    :href="$prop('href', '#')"
    >
        <div>
            <slot>See also</slot>
        </div>
        <icon-arrow-right x-show="$prop('variant') == 'classic'" class="text-white w-lg h-lg ml-xs"></icon-arrow-right>
        <icon-box-link x-show="$prop('variant') == 'sober'" class="text-blue-700 w-lg h-lg ml-sm"></icon-box-link>
    </a>
    <script>
        return $vui.Component({
            onMounted() {
                console.log("link init");
            }
        }, $el);
    </script>
</template>