<template class="block">
    <ui-nav>
        <div class="flex">
            <nav-item :item="{ name: 'home link', path: '/' }"></nav-item>
            <nav-item :item="{ name: 'about link', path: '/about' }"></nav-item>
            <template x-for="(item, index) in mainItems" :key="index">
                <nav-item :item="item"></nav-item>
            </template>
        </div>
        <div class="flex" x-text="mainItems[1].name">

        </div>
    </ui-nav>
    <slot></slot>
</template>

<script setup>
    return {
        mainItems: [
            {
                name: "home",
                path: "/",
            },
            {
                name: "about",
                path: "/about",
            },
        ],
        secondaryItems: [
            {
                name: "docs",
                path: "/docs",
            },
        ],
    }
</script>