<template>
    <ui-nav>
        <div class="h-full flex">
            <slot name="header"></slot>
            <ui-nav-item :item="mainItems[1]"></ui-nav-item>
            <template x-for="(item, index) in mainItems" :key="index">
                <ui-nav-item :item="item"></ui-nav-item>
            </template>
        </div>
    </ui-nav>
    <slot></slot>
</template>

<script setup>
    return {
        mainItems: [
            {
                name: "home",
                path: "/",
            },
            {
                name: "about",
                path: "/about",
            },
        ],
        secondaryItems: [
            {
                name: "docs",
                path: "/docs",
            },
        ],
    }
</script>