<template>
        <div class="w-full flex h-16 gap-1">
            <ui-nav-item :name="mainItems[0].name" :href="mainItems[0].path"></ui-nav-item>
            <template x-for="item in mainItems">
                <ui-nav-item :name="item.name" :href="item.path"></ui-nav-item>
            </template>
        </div>
    <div>
        <slot></slot>
    </div>
</template>

<script setup>
    return {
        mainItems: [
            {
                name: "home",
                path: "/",
            },
            {
                name: "about",
                path: "/about",
            },
        ],
        secondaryItems: [
            {
                name: "docs",
                path: "/docs",
            },
        ],
    }
</script>