<template>
    <ui-nav>
        <div class="flex h-full">
            <ui-nav-item :name="mainItems.value[0].name" :href="mainItems.value[0].path"></ui-nav-item>
        </div>
    </ui-nav>
    <div>
        <slot></slot>
    </div>
</template>

<script setup>
    return {
        mainItems: ref([
            {
                name: "home",
                path: "/",
            },
            {
                name: "about",
                path: "/about",
            },
        ]),
        secondaryItems: [
            {
                name: "docs",
                path: "/docs",
            },
        ],
    }
</script>