<template>
    <ui-nav>
        <div class="flex h-full">
            <slot name="header"></slot>
            <ui-nav-item name="about" href="/about"></ui-nav-item>
        </div>
    </ui-nav>
    <slot></slot>
</template>

<script setup>
    return {
        mainItems: [
            {
                name: "home",
                path: "/",
            },
            {
                name: "about",
                path: "/about",
            },
        ],
        secondaryItems: [
            {
                name: "docs",
                path: "/docs",
            },
        ],
    }
</script>